<script>
    if (typeof window !== 'undefined') {
	((g) => {
		var h,
			a,
			k,
			p = 'The Google Maps JavaScript API',
			c = 'google',
			l = 'importLibrary',
			q = '__ib__',
			m = document,
			b = window;
		b = b[c] || (b[c] = {});
		var d = b.maps || (b.maps = {}),
			r = new Set(),
			e = new URLSearchParams(),
			u = () =>
				h ||
				(h = new Promise(async (f, n) => {
					await (a = m.createElement('script'));
					e.set('libraries', [...r] + '');
					for (k in g)
						e.set(
							k.replace(/[A-Z]/g, (t) => '_' + t[0].toLowerCase()),
							g[k]
						);
					e.set('callback', c + '.maps.' + q);
					a.src = `https://maps.${c}apis.com/maps/api/js?&v=beta` + e;
					d[q] = f;
					a.onerror = () => (h = n(Error(p + ' could not load.')));
					a.nonce = m.querySelector('script[nonce]')?.nonce || '';
					m.head.append(a);
				}));
		d[l]
			? console.warn(p + ' only loads once. Ignoring:', g)
			: (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
	})({ key: 'AIzaSyC3gK4n9xJNHB5Q6itoHGyO1Ii1drOVc4o', v: 'weekly' });
    }

	let map;

	async function initMapEmptyClassic(){
		const { Map } = (await google.maps.importLibrary('maps'));
		map = new Map(document.getElementById('map'), {
			center: { lat: -34.397, lng: 150.644 },
			zoom: 8
		});
	}
	async function initMapWithAMarker() {
		const { Map } = await google.maps.importLibrary('maps');
		const { Marker } = await google.maps.importLibrary('marker');

		const map = new Map(document.getElementById('map'), {
			center: { lat: 45.70551092310581, lng: 4.8882087731481985 },
			zoom: 5,
			mapId: '4504f8b37365c3d0'
		});
		let list_senso_parser = document.createElement("div"); 
		list_senso_parser.innerHTML = `{{ list_sensors }}`;
		const markers = JSON.parse(list_senso_parser.innerText);
		const waypts = [];
		let count = -1;
		markers.forEach((mark, index) => {
			if (!mark?.title) {
				mark.title = 'Destination inconnue';
			}
			if (!mark?.description) {
				mark.description = 'Aucune description disponible pour cet évènement';
			}
			let markerHtml = document.createElement('div');
			markerHtml.className = 'markerClass';
			markerHtml.innerHTML =
				'<div style="background-color: #4285f4;border-radius: 8px;color: #ffffff;font-size: 14px;padding: 10px 15px;position: relative;"><h2>' +
				mark.title +
				'</h2></div>';
			const marker = new Marker({
				map,
				position: { lat: Number(mark.x_coord), lng: Number(mark.y_coord) }
			});
			marker.addListener('click', () => {
				document.getElementById('MarkerDialog').style.display = 'flex';
				document.getElementById('markerTitle').innerHTML = mark.title;
				document.getElementById('descriptionWrapper').innerHTML = mark.description;
			});
			if (index > 0 && index < 4)
				waypts.push({ location: { lat: Number(mark.x_coord), lng: Number(mark.y_coord) }, stopover: true });
			count++;
		});
		var directionsService = new google.maps.DirectionsService();
		var directionsRenderer = new google.maps.DirectionsRenderer({
			suppressMarkers: true
		});
		directionsRenderer.setMap(map);
		var start = { lat: Number(markers[0].x_coord), lng: Number(markers[0].y_coord) };
		//waypts.push({ location:{ lat: Number(markers[1].x_coord), lng: Number(markers[1].y_coord) }, stopover: true});
		var end = { lat: Number(markers[3].x_coord), lng: Number(markers[3].y_coord) };
		var request = {
			origin: start,
			destination: end,
			waypoints: waypts,
			optimizeWaypoints: true,
			travelMode: 'DRIVING'
		};
		directionsService.route(request).then((response) => {
			directionsRenderer.setDirections(response);
		});
	}
	// initMapEmpryClassic();
	if (typeof document !== 'undefined') {
		initMapWithAMarker();
	}
	// initMapWithAMarker();
	
</script>
{{list_sensors}}
<div id="map"></div>

<dialog
	id="MarkerDialog"
	tabindex="-1"
	class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
	<div class="relative w-full max-w-md max-h-full">
		<div class="relative bg-white rounded-lg shadow">
			<div class="flex items-center justify-between p-5 border-b rounded-t">
				<h3 id="markerTitle" class="text-xl font-medium text-gray-900" />
				<button
					type="button"
					class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
					onclick="document.getElementById('MarkerDialog').style.display = 'none';"
				>
					<svg
						class="w-3 h-3"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 14 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
						/>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<div class="p-6 space-y-6">
				<p class="text-base leading-relaxed text-gray-500" id="descriptionWrapper" />
			</div>
			<div class="imgWrapper">
				<img class="picture" />
			</div>
			<div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b" />
		</div>
	</div>
</dialog>

<style>
	#map {
		height: 100%;
	}
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	#MarkerDialog {
		/* margin-top: 10vh; */
		display: none;
		justify-content: center;
		align-items: center;
		background-color: rgb(31 41 55 / var(--tw-bg-opacity));
		margin-bottom: 5%;
	}

	.markerClass {
		background-color: #4285f4;
		border-radius: 8px;
		color: #ffffff;
		font-size: 14px;
		padding: 10px 15px;
		position: relative;
	}

	.markerClass::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translate(-50%, 0);
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid #4285f4;
	}
</style>

